:root{
    --Color-Dark-Blue:#002A48;
    --Color-Mon-Yellow:#F7DBA7;
    --Color-Dark-Blue-60:#00528C;
    --color-Orange-Shine:#FF912C;
    --Color-white:#FDFDFD;

}
html{
    font-family: 'Roboto' serif;
    


    header{
        
        nav{
            padding: 1.75rem 3.12rem;
            display: flex;
            justify-content:space-around;
            background-color: var(--Color-white);

            .logo-menu{
                display: flex;

                ul{
                    display: flex;
                gap: 3rem;
                list-style-type: none;

                li a{
                    text-decoration: none;
                    color: var(--Color-Dark-Blue);
                }
                }
            }

            .search-action{
                display: flex;
                gap: 0.875rem;
                align-items: center;

                form input{
                    padding: 0.75rem 1.25rem 0.75rem 1rem;
                    border-radius: 2.875rem;
                    border: white solid 0.12rem;
                }

                a{
                    text-decoration: none;
                    border: var(--Color-Dark-Blue ) solid 0.12rem;
                    padding: 0.875rem 1.75rem;
                    border-radius: 3.57rem;
                    background-color: var(--Color-Dark-Blue);
                    color: white;
                }

                select{
                    border: var(--Color-Mon-Yellow) solid 0.12rem;
                    background-color:var(--Color-Mon-Yellow) ;
                }
            }
        }
        

        
        .banner{
           
            padding: 1.75rem 8.125rem;
           

            .banner1{
                display: flex;
                border: solid 0.0625rem var(--Color-Dark-Blue);
                background-image: linear-gradient(to right,var(--Color-Mon-Yellow),var(--Color-Dark-Blue));
                border-radius: 1rem;
                height: 23.62rem;
                align-items: center;
                gap: 15rem;

            }
            .first-div{
                font-style: bold;
                font-size: 0.75rem;

                .first-line{
                    display: flex;
                    justify-content: space-around;

                    a{
                        text-decoration: none;
                        color: var(--Color-white);
                    }

                    .intro{
                        border:var(--Color-Dark-Blue) 0.1rem solid;
                        padding: 0.875em 1.75rem;
                        border-radius: 3.56rem;
                        background-color: var(--Color-Dark-Blue);
                        color: white;
                    }
                    
                    .view{
                        border:var(--Color-Dark-Blue) 0.1rem solid;
                        padding: 0.875em 1.75rem;
                        border-radius: 3.56rem;
                        color: var(--Color-Dark-Blue);
                        background-color: var(--Color-white);
                    }
                  
                }

                
            }

            img{
                width:30.62rem;
                height:10.81rem;
                margin-bottom: -13rem;
            }
        
        }
        
    }

    main{

        .couronne{
            display: flex;
            justify-content: space-between;
            padding: 1.75rem 0rem 1.75rem 8.125rem;


                .formulaire{

                    .formulaire1{
                        border: #003459 solid 0.0625rem;
                    }
                }
           


            .grand-mot-image{
                
                .mot-image{
                    display: flex;
                    justify-content:space-between;
                    align-items: center;
                    width: 52rem;
                    border: #003459 solid 0.0625rem;
                }
              


               .ordre-img{
                display: flex;
                flex-wrap: wrap;
                width: 60rem;
               }


            }


            
        }
        
    }

    footer{
        padding: 2.75rem 8.125rem;
        background-color: #FCEED5;

        .footer1{
            
            padding-bottom: 2.5rem;
            gap: 2.5rem;

            .frame23{
                background-color: #003459;
                border: #003459 solid 0.0625rem;
                padding: 2rem;
                border-radius: 1rem;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .frame24{
                    border: #FFFFFF solid 0.0625rem;
                    padding: 0.75rem;
                    background-color: #FFFFFF;
                    border-radius: 0.875rem;
                    gap: 0.75rem;

                    input{
                        padding: 0.875rem 1.75rem;
                        border-radius: 0.5rem;
                        gap: 0.625rem;
                    }

                    button{
                        padding: 0.875rem 1.75rem;
                        border-radius: 0.5rem;
                        gap: 0.625rem;
                        background-color: #003459;
                        color: white;
                    }
                }
            
            }
               
            
            .lien-icon{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .lien2 ul li{
                    list-style-type: none;
                }
                .lien2 ul li a{
                    text-decoration: none;
                }
                .lien2 ul {
                    display: flex;
                    gap: 2rem;

                }
                .icon2{
                    display: flex;
                    gap: 2rem;
                }
            }
               
            

        }
        .end-end{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
    }
}
