
:root{
    --Color-Dark-Blue:#002A48;
    --Color-Mon-Yellow:#F7DBA7;
    --Color-Dark-Blue-60:#00528C;
    --color-Orange-Shine:#FF912C;
}
html{
    font-family: 'Roboto' serif;

    nav{
        padding: 1.75rem 3.12rem;
        display: flex;
        justify-content:space-around;
        background-color: var(--Color-Mon-Yellow);

        .logo-menu{
            display: flex;

            ul{
                display: flex;
            gap: 3rem;
            list-style-type: none;

            li a{
                text-decoration: none;
                color: var(--Color-Dark-Blue);
            }
            }
        }

        .search-action{
            display: flex;
            gap: 0.875rem;
            align-items: center;

            form input{
                padding: 0.75rem 1.25rem 0.75rem 1rem;
                border-radius: 2.875rem;
                border: white solid 0.12rem;
            }

            a{
                text-decoration: none;
                border: var(--Color-Dark-Blue ) solid 0.12rem;
                padding: 0.875rem 1.75rem;
                border-radius: 3.57rem;
                background-color: var(--Color-Dark-Blue);
                color: white;
            }

            select{
                border: var(--Color-Mon-Yellow) solid 0.12rem;
                background-color:var(--Color-Mon-Yellow) ;
            }
        }
    }

    .first-section{
        display: flex;
        padding:1.75rem 8.125rem;
        background-color: var(--Color-Mon-Yellow);
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        height: 38.5rem;
        
        
        first-div{
            font-style: bold;
            font-size: 2.75rem;
        }

        .first-line{
            gap: 2rem;
            a{
                text-decoration: none;
            }
        }

        img{
            width:59rem;
            height:40.31rem;
            margin-left: -10rem;
        
        }
    }

    main{
        padding: 1.75rem 6.125rem;
        background-color: white;

        .haut-images{
            display: flex;
            justify-content: space-between;
            align-items: center;

            div a{
                text-decoration: none;
                border: 0.09rem var(--Color-Dark-Blue) solid;
                border-radius: 3.56rem;
                padding: 0.75rem 1.75rem;
                gap: 0.5rem;
            }
        }

        .ordonnement-images{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;


            .images{
                width: 17.5rem;
                padding: 0.4rem;
                border: rgb(20, 2, 2) 0.05rem solid;
                background-color: white;
                box-shadow: 0.5rem 0.5rem 0.5rem 1rem rgba(251, 246, 246, 0.874);
            }
        }

        .content{
            display: flex;
            border: var(--Color-Dark-Blue) 0.1rem solid;
            border-radius: 1.25rem;
            width: 70.75rem;
            height: 23.625rem;
            align-items: center;
            margin: 3rem;
            background-image: linear-gradient(to right, var(--Color-Dark-Blue) ,var(--Color-Dark-Blue-60),var(--Color-Mon-Yellow));

            .Femme-avec-chien{
                padding: 2.25rem 1.25rem;
            }
            .texte{
                text-align: right;

                .buttons{
                    .button1{
                        border:var(--Color-Dark-Blue) 0.1rem solid;
                        padding: 0.875em 1.75rem;
                        border-radius: 3.56rem;
                    }

                    .button2{
                         border:var(--Color-Dark-Blue) 0.1rem solid;
                        padding: 0.875em 1.75rem;
                        border-radius: 3.56rem;
                        background-color: var(--Color-Dark-Blue);
                        color: white;
                    }
                }
            }
        }

        .third-section{
            padding-top: 2rem;
            padding-bottom: 2rem;

            .intro{
                display: flex;
                justify-content: space-between;

                .product{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                }

                button{
                    border: var(--Color-Dark-Blue) 0.1rem solid;
                    border-radius: 3.25rem;
                    background-color: white;
                    padding: 0.75rem 1.75rem;

                }

            }

            .logo{
                display: flex;
                justify-content: space-between;
                margin: 3rem;
            }

            .end-etap{
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-image: linear-gradient(to right,var(--Color-Mon-Yellow),var(--color-Orange-Shine));
                margin: 0rem 3rem;
            }

            .texte1 {
                margin: 0rem 4rem;


                .buttons{
                    .button1{
                        border:var(--Color-Dark-Blue) 0.1rem solid;
                        padding: 0.875em 1.75rem;
                        border-radius: 3.56rem;
                    }

                    .button2{
                         border:var(--Color-Dark-Blue) 0.1rem solid;
                        padding: 0.875em 1.75rem;
                        border-radius: 3.56rem;
                        background-color: var(--Color-Dark-Blue);
                        color: white;
                    }
                }

            }
               

        }
        .end-section{
            padding: 1.75rem 4rem;

            .end-section-div1{
                display: flex;
                justify-content: space-between;


                .ornement{
                    border:white 0.1rem solid;
                    border-radius: 1.56rem;

                }
            }

            .image-align{
                display: flex;
                justify-content: space-between;
                gap: 0.5rem;

                .align-three-images{
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    box-shadow: 0 1 #00000014;
                    background-color: rgb(247, 252, 250);

                    img{
                        border-radius: 0.5rem;
                    }

                    div h3{
                        display: inline-block;
                        border: aqua 0.1rem solid;
                        border-radius: 0.5rem;
                        background-color: aqua;
                        color: white;
                    }
                }
            }
            
        }

    }
    footer{
        padding: 2.75rem 8.125rem;
        background-color: #FCEED5;

        .footer1{
            
            padding-bottom: 2.5rem;
            gap: 2.5rem;

            .frame23{
                background-color: #003459;
                border: #003459 solid 0.0625rem;
                padding: 2rem;
                border-radius: 1rem;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .frame24{
                    border: #FFFFFF solid 0.0625rem;
                    padding: 0.75rem;
                    background-color: #FFFFFF;
                    border-radius: 0.875rem;
                    gap: 0.75rem;

                    input{
                        padding: 0.875rem 1.75rem;
                        border-radius: 0.5rem;
                        gap: 0.625rem;
                    }

                    button{
                        padding: 0.875rem 1.75rem;
                        border-radius: 0.5rem;
                        gap: 0.625rem;
                        background-color: #003459;
                        color: white;
                    }
                }
            
            }
               
            
            .lien-icon{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .lien2 ul li{
                    list-style-type: none;
                }
                .lien2 ul li a{
                    text-decoration: none;
                }
                .lien2 ul {
                    display: flex;
                    gap: 2rem;

                }
                .icon2{
                    display: flex;
                    gap: 2rem;
                }
            }
               
            

        }
        .end-end{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
    }


}
