header{
    background-color: #FCEED5;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    height: 37.7rem;
}
.image-dog{
    width: 944px;
    height: 500px;
    top: 84px;
    left: 530px;
    opacity: 1;
    transform: rotate(0deg);

}
.sous-image-dog{
    width: 634.9999887035946;
height: 634.9999887035946;
top: 180px;
left: 595px;
transform: rotate(-25.23 deg);
opacity: 1;
border-radius: 99px;

}
.image-noire-coller-a-la-baniere{
    width: 634.999970189412;
height: 634.999970189412;
top: 268px;
left: 596px;
transform: rotate(-9.35 deg);
opacity: 1;
border-radius: 99px;

}
nav{
    display: flex;
    justify-content: space-around;
    margin:1rem ;
    align-items: center;
    padding-top: 3rem;
}
a{
    text-decoration: none;
    color: rgba(1, 1, 33, 0.913);
}
.search{
    border-radius:2rem ;
    padding: 0.5rem;
}
.btn-join{
    border: 0.1rem solid black;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.select{
    height: auto;
    width: auto;
}
.premiere{
    display: flex;
    justify-content:center;

}
.premiere-div{
    padding: 5rem;
    
}
.lien-premiere{
    display: flex;
    justify-content: space-between;
    padding-right: 5rem;
    padding-left: 5rem;
}.view{
    border: solid 1px black;
    border-radius: 2rem;
    background-color: rgba(1, 1, 36, 0.936);
    color: white;
}
.intro{
    border: solid 1px black;
    border-radius: 2rem;
}
.haut-images{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.ordonnement-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.images{
    width: 18rem;
    height: 28rem;
    border-radius: 2rem;
    border: white 2px solid;
    border-color: rgb(255, 255, 255);
    padding:1rem;
    margin: 0.5rem;
    background-color: white;
}.premiere-section{
    background-color: rgb(242, 243, 244);
}
.couleur1{
    flex: 1;
    background-color:#003459;
   position: absolute;
    top:0;
    left:0;
    width: 35%;
    height: 160%;
    transform: rotate(20.5deg);
    border-radius: 2rem 2rem 2rem 2rem ;
    transform-origin: top;
    
}
.couleur2{
    flex:2;
    background-color: #FCEED5;
    background-position: center;
    width: 30%;
    height: 100%;

}
.couleur3{
    flex:3;
    color: #002A48;
    background-color:#002A48;
    border-radius: 2rem 2rem 2rem 2rem ;
    top: 0;
    right: 0;
    width: 35%;
    height: 160%;
    transform: rotate(-20.5deg);
    transform-origin: top;
    position: absolute;
    
}
.sous-image{
    display: flex;
    width: 100%;
    height: 15rem;
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
}
.Femme avec chien{
    height: 0.5rem;
    width: 0.5rem;
}